@model OficinaModel
@{
    ViewData["Title"] = "Cadastrar Oficina";
}

<div class="text-center">

    <h1 class="display-8">Cadastrar Oficina:</h1>
</div>
    <form asp-controller="Oficina" asp-action="Create" method="post">
        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="nome" class="form-control" placeholder="Nome da sua Oficina">
        </div>

        <div class="form-group">
            <label for="cpnj" class="form-label">CPNJ</label>
            <input type="text" asp-for="cpnj" class="form-control" placeholder="CPNJ da sua oficina">
        </div>

        <div class="form-group">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" asp-for="estado" class="form-control" placeholder="São Paulo">
        </div>

        <div class="form-group">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" asp-for="cidade" class="form-control" placeholder="São Paulo">
        </div>

        <div class="form-group">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" asp-for="endereco" class="form-control" placeholder="Rua do bairro 123,Brooklin ">
        </div><br>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn btn-secondary" asp-controller="Oficinas" asp-action="Indext" role="button"> Voltar </a>
    </form>
