@model SearchModel

<h1>Resultados da Busca Avançada</h1>
<br>
@if (Model.oficinas.Any())
{
    <h4>Oficinas Encontradas:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Oficina</th>
                @if (Model.mecanicos.Any())
                   {
                       <th>Mecânicos</th>
                   }

            </tr>
        </thead>
        <tbody>
            @foreach (var oficina in Model.oficinas)
            {
                <tr>
                    <td>@oficina.nome</td>
                    <td>
                        <ul>
                            @if(Model.mecanicos.Any())
                            @foreach (var mecanico in Model.mecanicos)
                            {
                                <li>@mecanico.nome</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum resultado encontrado.</p>
}
