@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boas-vindas ao Revis! </h1>
    <h1 class="display-6"> Seu portal de serviços automotivos</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<main>
    <div class="mycontainer">
        <p>
            Encontre oficinas e mecânicos especializados no seu veículo ou no tipo de serviço que precisa e pela sua região.
        </p>
    </div>


    <div class="mycontainer">
        <p>
            Agende o serviço no dia e horário de sua preferência.
        </p>
    </div>

    <div class="mycontainer">
        <p>
            Serviços mecânicos, elétricos e de estética automotiva
        </p>
    </div>
</main>