@{
    ViewData["Title"] = "Entrar:";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" class="form-control" placeholder="e-mail" required>
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Senha:</label>
        <input type="password" class="form-control" placeholder="senha" required>
    </div><br>

    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Oficina" asp-action="Index" role="button"> Entrar </a>
    </div>
</form>