html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    .mycontainer {
        flex-direction: column;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 20px;
}

.mycontainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 10px;
    background-color: #805A93;
}